<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Progrma desenvolvido como forma de avaliação de entrevista de emprego para a Alcoweb" />
    <meta name="author" content="Felipe Luis Pinheiro" />
    <title>Tabuada</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <style>
        .tabuada {
            width:200px;
            max-width:200px;
            margin: 7px 7px 8px 8px;
            padding:10px;
            border: 1px solid black;
        }
        .colored {
            background-color:dodgerblue;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
