@{
    ViewBag.Title = "Tabuada";
}


<form method="post">
    <fieldset>
        <legend>Tabuada</legend>
        <div>
            <label for="Max">Quantas tabuadas deseja gerar?</label>
            <input type="number" name="Max" value="" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>

<div class="container">
    @{
        string divClass = "";
        int result;
        if (IsPost)
        {
            var Max = Request.Form["Max"].AsInt();
            var i = 1;
            while (i <= Max)
            {
                <div class="row">
                    
                        @for (var j = 0; j < 5 && i <= Max; j++, i++)
                        {
                            if (i % 2 == 0)
                            {
                                divClass = "col-2 tabuada";
                            }
                            else
                            {
                                divClass = "col-2 tabuada colored";
                            }
                        <div class="@divClass">
                            
                                @for (int k = 0; k < 11; k++)
                                {
                                    result = i * k;
                            
                                        <p>@i x @k = @result</p>
                            
                                }
                            
                        </div>
                        }
                </div>
            }
        }
    }
</div>